/* Propio */

#divProductos {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

#divProductos p {
    color: black;
    font-size: large;
    text-align: center;
}

#divProductos ul {
    width: 100%;
    height: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 0.2rem solid black;
    border-radius: 1rem;
}

.li_productos {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    margin: 1rem;
    list-style: none;
    font-size: large;
    text-align: center;
    color: black;
}

.producto_rebajado {
    color: rgb(182, 0, 0);
}

.img_productos {
    object-fit: contain;
    width: 20%;
    height: auto;
}

.delete_item {
    cursor: pointer;
}

#divDesglose {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    color: black;
    border: 0.2rem solid black;
    border-radius: 1rem;
    padding: 0.2rem;
}

#divDesglose p {
    margin: 0;
    padding: 0.2rem;
    font-size: large;
    text-align: center;
}

#totop {
    cursor: pointer;
    display: none;
    width: 5%;
    position: fixed;
    padding: 0.5rem;
    content: url(../img/dado.png);
    object-fit: contain;
    right: 5%;
    bottom: 10%;
}


/* Arreglando colores */

i::before {
    font-size: larger;
    color: black;
}

ul.menu {
    background-color: rgb(63, 63, 63);
}

ul.menu>li a {
    color: white;
}

ul.menu>li a:hover {
    color: rgb(155, 179, 255);
}

#main>div {
    color: black;
}

footer {
    background-color: rgb(63, 63, 63);
}

footer .footer_links ul li a {
    color: white;
}

footer .footer_links ul li a:hover {
    color: rgb(155, 179, 255);
}

footer .footer_links h4 {
    color: white;
}

.copyright {
    color: white;
    background-color: rgb(63, 63, 63);
}

/* Para el móvil */

@media only screen and (max-width: 460px) {

    header #logo {
        order: 1
    }

    #logo {
        margin-bottom: 1rem;
    }

    header .contacto {
        order: 2;
    }

    header .user-utils {
        order: 3;
    }


    #divProductos ul {
        border: none;
    }

    .li_productos {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: space-around;
        margin: 0;
        padding: 0.3rem;
        list-style: none;
        font-size: large;
        text-align: center;
        color: black;
        border: 0.2rem solid black;
        border-radius: 1rem;
    }

    .li_productos:not(:last-child) {
        margin-bottom: 0.5rem;
    }

    .img_productos {
        object-fit: contain;
        width: 50%;
        height: auto;
    }

    #divDesglose {
        flex-direction: column;
    }
    #totop{
        width: 20%;
    }
}